
a{
    cursor: pointer;
}
.header-main {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   
}
.header-main-logo {
width: fit-content;
height: 100%;

padding-left: 60px;
display: flex;

}
.header-main-logo image{
height: 40px;
align-self: center;
}
.header-main-nav {
    width: fit-content
    height: 100px;
    
}

.header-main-nav ul {
list-style: none;
text-decoration: none;

}
.header-main-nav ul li {
    display: inline;
    float: left;
    
    
   
    
}
.header-main-nav ul li a {
    padding:0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    display: block;
    height: 100px;
    
}
.header-main-nav ul li a:hover {
color: rgb(243, 19, 194);
}
.header-main-sm {
width:fit-content;
height: 100%;

padding-right: 60px;
display:flex;
align-items: center;
column-gap: 10px;


}






h1 {
    color: rgb(206, 30, 30);
    font-size: 300%;
    margin: 6%;
    text-align: center;
    background-color:whitesmoke;
    border-style:none;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
img {
   margin: 1px;
   
   
   }
@font-face {
    font-family: Roboto;
    scr: url(../fonts/Roboto-Regular.tt);

}
body {
    background-color:whitesmoke;
}
.wrapper-main{
    width: 600px;
    margin: 0 auto;
}
button {
    padding: 10px 16px
    backgroung-color: #fff;
    font-size: 20px;
    font-family: Roboto;
    border-radius: 20px;
    cursor: pointer;
    
}
